@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/fonts/logo.JPG" class="rounded mx-auto d-block" alt="...", width="200" height="150">
    <h1>CompanyComuter</h1>
    <p class="lead">The one stop all in one, cutting edge portal for car emissions and comuting</p>

</div>


<div class="row">
    <div class="col-md-4">
        <h2>Add yourself</h2>
        <p>
            Add yourself and to get starting competing against friends and colleagues!
        </p>
        <p><a class="btn btn-default" href="https://localhost:44346/Employee/Create">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Register your Journey</h2>
        <p>Reach the top of the leaderbard, just remeber Less is more!</p>
        <p><a class="btn btn-default" href="https://localhost:44346/EmissionLogs">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Find your car</h2>
        <p>We have over 800 cars in our libary, find out how much your car pollutes</p>
        <p><a class="btn btn-default" href="https://localhost:44346/Car">Learn more &raquo;</a></p>
    </div>
</div>